.about .about-img {
    position: relative;
    margin: 60px 0 0 60px;
  }
  
  .about .about-img:before {
    position: absolute;
    inset: -60px 0 0 -60px;
    z-index: -1;
    content: "";
    background: url("../img/about-bg.png") top left;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 575px) {
    .about .about-img {
      margin: 30px 0 0 30px;
    }
  
    .about .about-img:before {
      inset: -30px 0 0 -30px;
    }
  }
  
  .about h3 {
    color: $color-secondary;
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .about h3 {
      font-size: 28px;
    }
  }
  
  .about .nav-pills {
    border-bottom: 1px solid rgba($color-secondary-rgb, 0.2);
  }
  
  .about .nav-pills li+li {
    margin-left: 40px;
  }
  
  .about .nav-link {
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: $color-secondary;
    padding: 12px 0;
    margin-bottom: -2px;
    border-radius: 0;
    font-family: $font-secondary;
  }
  
  .about .nav-link.active {
    color: $color-primary;
    background: none;
    border-bottom: 3px solid $color-primary;
  }
  
  @media (max-width: 575px) {
    .about .nav-link {
      font-size: 16px;
    }
  }
  
  .about .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: $color-secondary;
  }
  
  .about .tab-content i {
    font-size: 22px;
    line-height: 0;
    margin-right: 8px;
    color: $color-primary;
  }