.footer {
    color: $color-white;
    font-size: 14px;

    .footer-content {
        background: $color-secondary;
        padding: 60px 0 30px 0;

        .footer-info {
            margin-bottom: 30px;

            h3 {
                font-size: 28px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-weight: 700;
                text-transform: uppercase;

                span {
                    color: $color-primary;
                }
            }

            p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: $font-primary;
                color: $color-white;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            color: $color-white;
            position: relative;
            padding-bottom: 12px;
            margin-bottom: 15px;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 20px;
                height: 2px;
                background: $color-primary;
                bottom: 0;
                left: 0;
            }
        }

        .footer-links {
            margin-bottom: 30px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                i {
                    padding-right: 2px;
                    color: $color-white;
                    font-size: 12px;
                    line-height: 1;
                }

                li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                a {
                    color: rgba($color-white-rgb, 0.7);
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        .footer-newsletter {
            form {
                margin-top: 30px;
                background: $color-white;
                padding: 6px 10px;
                position: relative;
                border-radius: 4px;

                input[type=email] {
                    border: 0;
                    padding: 4px;
                    width: calc(100% - 110px);

                    &:focus-visible {
                        outline: none;
                    }
                }

                input[type=submit] {
                    position: absolute;
                    top: 0;
                    right: -2px;
                    bottom: 0;
                    border: 0;
                    background: none;
                    font-size: 16px;
                    padding: 0 20px;
                    background: $color-primary;
                    color: $color-white;
                    transition: 0.3s;
                    border-radius: 0 4px 4px 0;

                    &:hover {
                        background: rgba($color-primary-rgb, 0.85);
                    }
                }
            }
        }
    }

    .footer-legal {
        padding: 30px 0;
        background: $color-secondary-dark;

        .credits {
            padding-top: 4px;
            font-size: 13px;
            color: $color-white;

            a {
                color: $color-primary-light;
            }
        }

        .social-links {
            a {
                font-size: 18px;
                display: inline-block;
                background: rgba($color-white-rgb, 0.1);
                color: $color-white;
                line-height: 1;
                padding: 8px 0;
                margin-right: 4px;
                border-radius: 4px;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;

                &:hover {
                    background: $color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}